<% if flash.now[:notice] %>
<div class="alert alert-success">
  <div class="notice">
    <%= flash.now[:notice] %>
    <button class="close" type="button" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
<% end %>
<div class="jumbotron mr-2">
  <h1 class="display-4">Bienvenue sur The Secret Gossip Project!</h1>
  <p class="lead">Tu vas pouvoir découvrir ici tous les potins de THP !</p>
  <hr class="my-4">
  <% if session[:user_id] != nil %>
    <p>Pour ajouter ton potin, c'est par ici :</p>
    <%= link_to "Ajouter un potin", new_gossip_path,:class => "btn-danger btn btn-lg"%>
  <% else %>
    <p>Tu dois t'inscrire pour ajouter un potin:</p>
    <%= link_to "Inscription", new_user_path,:class => "btn-danger btn btn-lg"%>
  <% end %>

</div>


  <div class="card-columns border-info container">
  <% @gossip.each do |i| %>

<div class="card text-white bg-primary mb-3" style="width: 18rem;">
  <div class="card-header"><%= i.title %> <span class="badge badge-secondary">
      <i class="fas fa-comments"></i> <%= i.comments.count %></span></h5>
      </div>
  <div class="card-body">
    <h4 class="card-title"><%= i.user.first_name %></h4>
        <%= link_to "Voir Gossip", gossip_path(i.id),:class => "btn-secondary btn p-1"%>
        </div>
  </div>
  <% end %>
</div>
